################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/rh-project-backend/v17
/.vs/RH-Competence-Backend/FileContentIndex
